
body{
	background-color:#ffffff;
}

a {
	font-family: verdana, tahoma, serif;
	font-size: 12pt;
	color: green;
	text-decoration: underline;
}

a:hover{
	font-family: verdana, tahoma, serif;
	font-size: 12pt;
	color: green;
	text-decoration: underline;
}

.mainError{	font-family: Arial, verdana, tahoma, serif;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	color: Red; 
}

