@CHARSET "UTF-8";

.calShadow{
background-color:black;
position:absolute;
top:0px;
left:0px;
visibility:hidden;
-moz-opacity:.5;
filter:alpha(opacity=50);
}

.calMain{
width:275px;
position:absolute;
left:0px;
top:0px;
background-color:#C20000;
border-width:2px;
border-style:outset;
border-color:#00436e;
padding:1px;
visibility:hidden;
}

.calH{
width:273px;
height:13px;
overflow:hide;
background-color:#f0f0f0;
padding:1px;
text-align:right;
}

.calMonthYear{
background-color:#C20000;
font-size:8pt;
font-family:sans-serif;
color:#ffedcf;
cursor:default;
padding:1px;
}

.calHdr{
width:35px;
font-size:12px;
font-weight:bold;
font-family:sans-serif;
color:#ffedcf;
cursor:default;
padding:1px;
background-color:#C20000;
}

.calToday{
width:35px;
font-size:12px;
font-family:sans-serif;
font-weight:bold;
color:red;
cursor:default;
border-width:1px;
border-style:inset;
border-color:gray;
padding:1px;
background-color:#f0f0f0;
}

.calText{
width:35px;
font-size:12px;
font-family:sans-serif;
color:black;
cursor:default;
border-width:1px;
border-style:inset;
border-color:gray;
padding:1px;
background-color:#f0f0f0;
}

.calTextH{
width:35px;
font-size:12px;
font-family:sans-serif;
font-weight:bold;
color:#ffedcf;
cursor:default;
border-width:1px;
border-style:outset;
border-color:#ffedcf;
padding:1px;
background-color:#C20000;
}
